[mysql]
hostname =
port =
# Username for mysql connections
username = qsmaster
password =
database = qservCssData
# MySQL socket file path for db connections
socket = {{MYSQLD_SOCK}}

# Number of in-flight query threads allowed
numthread = 4

[memman]
# MemMan class to use for managing memory for tables
class =
# Memory available for locking tables
memory = qservResult
unix_socket={{MYSQLD_SOCK}}
host=
user=qsmaster
port=0

# database connection for QMeta database
[qmeta]
passwd =
db=qservMeta
unix_socket={{MYSQLD_SOCK}}
host=
user=qsmaster
port=0

[partitioner]
# emptyChunkPath is used to check existence of empty_$DBNAME.txt
emptyChunkPath={{QSERV_DATA_DIR}}/qserv

# If emptyChunkPath isn't defined or emptyChunkPath/empty_$DBNAME.txt
# doesn't exist then emptyChunkListFile is used for queries on $DBNAME
emptyChunkListFile={{QSERV_DATA_DIR}}/qserv/emptyChunks.txt

#[tuning]
#memoryEngine=yes

#[debug]
#chunkLimit=-1

#[mysql]
#mysqlclient=

[log]
logConfig = {{QSERV_RUN_DIR}}/etc/log4cxx.czar.properties
